<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="static/style/style.css">
		<script src="jquery/dist/jquery.js"></script>
		<script src="jquery-ui/jquery-ui.js"></script>
		<script src="angular/angular.js"></script>
		<script src="angular-route/angular-route.js"></script>
		<script src="angular-ui-sortable/src/sortable.js"></script>
		<script type="text/javascript">
			var myApp = angular.module("myApp", ["ngRoute", "ui.sortable"])

			// myApp.config(function($routeProvider){
			// 	$routeProvider
			// 		.when("/", {
			// 			templateUrl: "partials/partial1.html"
			// 		})
			// 		.otherwise({
			// 			redirectTo: "/route"
			// 		})
			// })

			myApp.factory("wordFactory", function($http){
				var factory = {}

				factory.index = function(callback){
					$http.get("/words")
						.then(function(output){
							var words = output
							callback(words)
						})
				}

				factory.pick_words = function(callback){
					$http.get("/words/pick_words")
						.then(function(output){
							var words = output.data
							callback(words)
						})
				}

				factory.get_scores = function(words, callback){
					$http.post("/words/find_score", words)
						.then(function(output){
							var scores = output.data
							callback(scores)
						})
				}

				return factory
			})

			myApp.controller("wordController", function($scope, wordFactory){

				function pick_words(){
					wordFactory.pick_words(function(words){
						console.log(words)
						$scope.tiles = ""
						for(i=3; i<=6; i++){
							$scope.tiles += words[i].toUpperCase()
						}
						$scope.tiles = $scope.tiles.split("").sort()
						$scope.words = {
							3: $scope.tiles.slice(0,3),
							4: $scope.tiles.slice(3,7),
							5: $scope.tiles.slice(7,12),
							6: $scope.tiles.slice(12,18),
						}
					})
				}

				function get_scores(){
					wordFactory.get_scores($scope.words, function(scores){
						// callback in here
						console.log(scores)
						$scope.scores = scores
					})
				}

				pick_words()

				function choose_word(word_list){
					var keys = Object.keys(word_list)
					// Random select from StackOverflow user Lawrence Whiteside
					// http://stackoverflow.com/questions/2532218/pick-random-property-from-a-javascript-object
					return keys[keys.length * Math.random() << 0]
				}

				$scope.getLetters = function(){
					var word = choose_word($scope.words).toUpperCase()
					word = word.split("").sort()
					word = word.join("")
					$scope.chosen_word = word

				}

				$scope.get_scores = function(){
					get_scores()
				}
				
				
				function checkWords(){
					var word = {}
					for(var i=3; i < 7; i++){
						word[i] = $scope.words[i].join("")
					}
					console.log(word)
					if(word[3]=="WORLD" && word[4]=="SHADOW"){
						alert("That's right!")
					}
				}

				$scope.sortableOptions = {
					placeholder: "placeholder",
					"ui-floating": true,
					connectWith: ".target",
					receive: function(e, ui){
						if($scope.words[e.target.id].length > 6){
							ui.item.sortable.cancel()
						}
					},
					update: function(e, ui){
						setTimeout(function(){
							checkWords()
						}, 100)
					}
				}

			})
		</script>
	</head>
	<body ng-app="myApp" ng-controller="wordController">
		<div ui-sortable="sortableOptions" ng-repeat="(index, word) in words" ng-model="word" class='{{ (scores[index] && "valid") || "target" }}' id="{{index}}">
			x{{index}}
			<div ng-repeat="letter in word track by $index" class="tile">{{letter}}</div>
		</div>
		{{words}}
		<p><button ng-click="get_scores()">Scores</button></p>
		<ul>
			<li ng-repeat="(length, score) in scores">{{length}}: {{score}}</li>
		</ul>
	</body>
</html>