<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="static/style/style.css">
		<script src="jquery/dist/jquery.js"></script>
		<script src="jquery-ui/jquery-ui.js"></script>
		<script src="angular/angular.js"></script>
		<script src="angular-route/angular-route.js"></script>
		<script src="angular-ui-sortable/src/sortable.js"></script>
		<script type="text/javascript">
			var myApp = angular.module("myApp", ["ngRoute", "ui.sortable"])

			// myApp.config(function($routeProvider){
			// 	$routeProvider
			// 		.when("/", {
			// 			templateUrl: "partials/partial1.html"
			// 		})
			// 		.otherwise({
			// 			redirectTo: "/route"
			// 		})
			// })

			myApp.factory("wordFactory", function($http){
				var factory = {}

				factory.index = function(callback){
					$http.get("/words")
						.then(function(output){
							var words = output
							callback(words)
						})
				}

				factory.pick_words = function(callback){
					$http.get("/words/pick_words")
						.then(function(output){
							var words = output.data
							callback(words)
						})
				}

				factory.get_scores = function(words, callback){
					$http.post("/words/find_score", words)
						.then(function(output){
							var scores = output.data
							callback(scores)
						})
				}

				return factory
			})

			myApp.controller("wordController", function($scope, wordFactory){

				// Letter scores based on Peter Norvig's letter-frequency calculations.
				// http://norvig.com/scrabble-letter-scores.html
				$scope.letter_scores = {
				    "E": 1,
				    "A": 1,
				    "S": 1,
				    "R": 1,
				    "T": 1,
				    "I": 1,
				    "N": 1,
				    "O": 1,
				    "L": 1,
				    "D": 1,
				    "M": 2,
				    "P": 2,
				    "G": 2,
				    "U": 3,
				    "C": 3,
				    "B": 3,
				    "H": 3,
				    "F": 4,
				    "W": 4,
				    "Y": 4,
				    "V": 6,
				    "K": 6,
				    "X": 8,
				    "Z": 8,
				    "J": 8,
				    "Q": 10
				    }

				function shuffle(arr){
					// Implementation of Durstenfeld shuffle by StackOverflow user Laurens Holt
					for(var i = arr.length - 1; i > 0; i--){
						var j = Math.floor(Math.random()* (i+1))
						var temp = arr[i]
						arr[i] = arr[j]
						arr[j] = temp
					}

					return arr
				}

				function pick_words(){
					wordFactory.pick_words(function(words){
						console.log(words)
						$scope.tiles = ""
						for(i=3; i<=6; i++){
							$scope.tiles += words[i].toUpperCase()
						}
						$scope.tiles = shuffle($scope.tiles.split(""))
						$scope.words = {
							3: $scope.tiles.slice(0,3),
							4: $scope.tiles.slice(3,7),
							5: $scope.tiles.slice(7,12),
							6: $scope.tiles.slice(12,18),
						}
						get_scores()
					})
				}

				pick_words()

				function get_scores(){
					wordFactory.get_scores($scope.words, function(scores){
						// callback in here
						$scope.scores = scores
						var total = 0
						for(var i = 3; i<=6; i++){
							if($scope.scores[i]){ total += $scope.scores[i]*i }
							
						}
						$scope.scores.total = total
					})
				}

				function checkWords(){
					get_scores()
				}

				$scope.start_game = function(){
					pick_words()
					$("#racks").show("slow")
				}

				$scope.sortableOptions = {
					placeholder: "placeholder",
					"ui-floating": true,
					connectWith: ".target",
					receive: function(e, ui){
						if($scope.words[e.target.id].length > 6){
							ui.item.sortable.cancel()
						}
					},
					update: function(e, ui){
						setTimeout(function(){
							checkWords()
						}, 50)
					}
				}

			})
		</script>
	</head>
	<body ng-app="myApp" ng-controller="wordController">
		<button ng-click="start_game()">Start game</button>
		<div id="racks" style="display: none;">
			<table>
				<tr ng-repeat="(index, word) in words">
					<td>
						<div ui-sortable="sortableOptions" ng-model="word" class='target {{ (scores[index] && "green") || "red" }}' id="{{index}}">
							<div ng-repeat="letter in word track by $index" class="tile">{{letter}} <span class="value">{{letter_scores[letter]}}</span></div>
						</div>
					</td>
					<td class="score">{{ scores[index] || 0 }}</td>
					<td class="score">x {{index}} = </td>
					<td class="score">{{ (scores[index] || 0) * index }}</td>
				</tr>
				<tr><td> </td>
					<td class="score" colspan=2>TOTAL: </td>
					<td class="score">{{ scores.total }}</td>
				</tr>
			</table>
		</div>
	</body>
</html>