<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="static/style/style.css">
		<script type="text/javascript">
			// Code to display errors as alerts (for debugging on mobile) from GitHub user AlphaGit
			// https://github.com/AlphaGit/random-javascript/tree/master/alert-errors
			window.onerror = function(m,u,l){window.alert(m+"\n"+u+":"+l)}
		</script>
		<script src="jquery/dist/jquery.js"></script>
		<script src="jquery-ui/jquery-ui.js"></script>
		<script src="jquery.ui.touch-punch.js"></script>
		<script src="angular/angular.js"></script>
		<script src="angular-route/angular-route.js"></script>
		<script src="angular-ui-sortable/src/sortable.js"></script>
		<script type="text/javascript">
			var myApp = angular.module("myApp", ["ngRoute", "ui.sortable"])

			// myApp.config(function($routeProvider){
			// 	$routeProvider
			// 		.when("/", {
			// 			templateUrl: "partials/partial1.html"
			// 		})
			// 		.otherwise({
			// 			redirectTo: "/route"
			// 		})
			// })

			myApp.factory("wordFactory", function($http){
				var factory = {}

				factory.index = function(callback){
					$http.get("/words")
						.then(function(output){
							var words = output
							callback(words)
						})
				}

				factory.pick_words = function(callback){
					$http.get("/words/pick_words")
						.then(function(output){
							var words = output.data
							callback(words)
						})
				}

				factory.get_scores = function(words, callback){
					$http.post("/words/find_score", words)
						.then(function(output){
							var scores = output.data
							callback(scores)
						})
				}

				return factory
			})

			myApp.controller("wordController", function($scope, $interval, wordFactory){

				// Letter scores based on Peter Norvig's letter-frequency calculations.
				// http://norvig.com/scrabble-letter-scores.html
				$scope.letter_scores = {
				    "E": 1,
				    "A": 1,
				    "S": 1,
				    "R": 1,
				    "T": 1,
				    "I": 1,
				    "N": 1,
				    "O": 1,
				    "L": 1,
				    "D": 1,
				    "M": 2,
				    "P": 2,
				    "G": 2,
				    "U": 3,
				    "C": 3,
				    "B": 3,
				    "H": 3,
				    "F": 4,
				    "W": 4,
				    "Y": 4,
				    "V": 6,
				    "K": 6,
				    "X": 8,
				    "Z": 8,
				    "J": 8,
				    "Q": 10
				    }

				function shuffle(arr){
					// Implementation of Durstenfeld shuffle by StackOverflow user Laurens Holt
					for(var i = arr.length - 1; i > 0; i--){
						var j = Math.floor(Math.random()* (i+1))
						var temp = arr[i]
						arr[i] = arr[j]
						arr[j] = temp
					}

					return arr
				}

				function pick_words(){
					wordFactory.pick_words(function(words){
						console.log(words)
						$scope.answer = words
						$scope.answer_total = [3,4,5,6].map(function(i){ return words[i].score * i }).reduce(function(a,b){return a + b}, 0)
						$scope.tiles = ""
						for(i=3; i<=6; i++){
							$scope.tiles += words[i].word.toUpperCase()
						}
						$scope.tiles = shuffle($scope.tiles.split(""))
						$scope.words = {
							3: $scope.tiles.slice(0,3),
							4: $scope.tiles.slice(3,7),
							5: $scope.tiles.slice(7,12),
							6: $scope.tiles.slice(12,18),
						}
						get_scores()
					})
				}

				// This line doesn't technically need to be here, as the pick_words() function is called again on game start.  However, without it, the $("#racks").show() looks odd and discontinuous, presumably because the racks don't have height until the tiles have been initialized.
				pick_words()
				$scope.start_game_button = "Start game"

				function get_scores(){
					wordFactory.get_scores($scope.words, function(scores){
						$scope.scores = scores
						var total = 0
						for(var i = 3; i<=6; i++){
							if($scope.scores[i]){ total += $scope.scores[i]*i }
						}
						$scope.scores.total = total
						$scope.all_correct = [3,4,5,6].every(function(elem){ return $scope.scores[elem] })
					})
				}

				function checkWords(){
					get_scores()
				}

				game_length = 600*5+1

				$scope.start_game = function(){
					pick_words()
					$scope.sortableOptions.disabled = false
					$("#racks").show("slow")
					$("#answer").hide()
					$scope.start_game_button = "Restart"
					$scope.timer = game_length
					$scope.interval = $interval(countdown, 100)
					document.getElementById("clock_svg_text").setAttribute("fill", "green")
				}

				$scope.end_game = function(){
					$scope.message = "Congratulations!"
					stopInterval()
				}

				function update_clock(){
					// Code to generate an SVG with a slice of a circle from StackOverflow user Holger Will
					// http://stackoverflow.com/a/32754195/5749040
					var svgElem = document.getElementById("clock_svg")
					var path = document.getElementById("clock_svg_path")

					var cx=100
					var cy=100
					var rx=100
					var ry=100

					var p = svgElem.createSVGPoint()
					p.x = 0
					p.y = 1

					var m = svgElem.createSVGMatrix()

					var angle = 180 * ($scope.timer/game_length)

					var p2 = p.matrixTransform(m.rotate(angle))
					p2.x = cx + p2.x*rx
					p2.y = cy + p2.y*ry

					// var path = document.createElementNS("http://www.w3.org/2000/svg", "path")
					// svgElem.appendChild(path)

					$scope.d = "M" + cx + " " + (cy+ry) + "A" + rx + " " + ry + " 0 0 1" + p2.x + " " + p2.y + "L" + cx + " "+cy+"z"
					path.setAttribute("d", $scope.d)

					if ($scope.timer == 300){
						document.getElementById("clock_svg_text").setAttribute("fill", "red")
					}
				}

				function countdown(){
					$scope.timer--
					
					$scope.time_remaining = {
						minutes: Math.floor($scope.timer/600),
						seconds: ("0"+Math.floor(($scope.timer % 600)/10)).slice(-2),
						tenths: $scope.timer % 10
					}

					update_clock()

					if($scope.timer<=0){
						$scope.message = "Time's up!"
						stopInterval()
					}
				}

				function stopInterval(){
					if(angular.isDefined($scope.interval)){
						$interval.cancel($scope.interval)
						$scope.interval = undefined
					}
					
					// Make all of the lists non-sortable
					$scope.sortableOptions.disabled = true
					
					$("#answer").show("slow")
				}

				// Per angular documentation, $intervals need to be explicitly cancelled
				$scope.$on("$destroy", function(){
					stopInterval()
				})

				$scope.first_update_event = true
				// I want to cancel the move if there are too many tiles (seven or more) in the receiving rack.  In order to work properly with Angular models, the ui.item.sortable.cancel() method needs to be called inside of the first update event (that is, when the source list is being updated because it lost a member).  However, I couldn't find a way to distinguish between the two events, nothing in ui object to indicate which rack was being updated; as such, it would check the length of the destination list on source update, see that it's OK, then check again on destination update, at which point it will be too long (as the new tile's now counted) and the cancel() will fire and break the Angular models.  The $scope.first_update_event boolean is a kludge; it toggles every time the the update event triggers, so it's true iff it's the first update in a pair.

				$scope.sortableOptions = {
					placeholder: "placeholder",
					"ui-floating": true,
					connectWith: ".target",
					update: function(e, ui){
						if(ui.item.sortable.source[0] != ui.item.sortable.droptarget[0]){
							if($scope.first_update_event && $scope.words[ui.item.sortable.droptarget[0].id].length >= 7){
								console.log("too long")
								ui.item.sortable.cancel()
							}
							$scope.first_update_event = !$scope.first_update_event
						}
						setTimeout(function(){
							checkWords()
						}, 50)
					}
				}

			})
		</script>
	</head>
	<body ng-app="myApp" ng-controller="wordController">
		<h2>Rearrange the tiles to form a 3-letter word, 4-letter word, 5-letter word, and 6-letter word</h2>
		<button ng-click="start_game()">{{start_game_button}}</button>
		<div id="racks" style="display: none;">
			<table>
				<tr ng-repeat="(index, word) in words">
					<td>
						<div ui-sortable="sortableOptions" ng-model="word" class='target {{ (scores[index] && "green") || "red" }}' id="{{index}}">
							<div ng-repeat="letter in word track by $index" class="tile">{{letter}} <span class="value">{{letter_scores[letter]}}</span></div>
						</div>
					</td>
					<td class="score">{{ scores[index] || 0 }}</td>
					<td class="score">x {{index}} = </td>
					<td class="score">{{ (scores[index] || 0) * index }}</td>
				</tr>
				<tr><td> </td>
					<td class="score" colspan=2>TOTAL: </td>
					<td class="score">{{ scores.total }}</td>
				</tr>
			</table>
			<div class="clock">
				<svg id="clock_svg" width=200 height=200>
					<path id="clock_svg_path" d="M100 100"></path>
					<text x=25 y=110 fill="green" id="clock_svg_text">{{ time_remaining.minutes }}:{{ time_remaining.seconds }}.{{ time_remaining.tenths }}</text>
				</svg>
			</div>
			<div class="message">
				<button ng-show="all_correct" ng-click="end_game()">I'm done!</button>
				<h2>{{message}}</h2>
			</div>
		</div>
		<div id="answer" style="display: none;">
			<h2>This was our answer:</h2>
			<table>
				<tr ng-repeat="(index, word) in answer">
					<td>
						<div ng-model="word.word" class="target green" id="{{index}}">
							<div ng-repeat="letter in word.word track by $index" class="tile">{{letter}} <span class="value">{{letter_scores[letter]}}</span></div>
						</div>
					</td>
					<td class="score">{{ word.score }}</td>
					<td class="score">x {{index}} = </td>
					<td class="score">{{ word.score * index }}</td>
				</tr>
				<tr><td> </td>
					<td class="score" colspan=2>TOTAL: </td>
					<td class="score">{{ answer_total }}</td>
				</tr>
			</table>
		</div>
	</body>
</html>
