<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<style type="text/css">
			.tile{
				border: 2px solid black;
				text-align: center;
				vertical-align: center;
				padding: 1px;
				/*margin: 3px 3px 3px 0;*/
				margin: 10px;
				display: inline-block;
				height: 25px;
				width: 25px;
				float: left;
			}

			.placeholder{
				background-color: gray;
				margin: 10px;
				height: 25px;
				width: 25px;
				border: 1px dotted blue;
				float: left;
			}

			.target{
				margin: 10px;
				border: 2px solid red;
				width: 425px;
				height: 50px;
			}
		</style>
		<script src="node_modules/jquery/dist/jquery.js"></script>
		<script src="node_modules/jquery-ui/jquery-ui.js"></script>
		<script src="node_modules/angular/angular.js"></script>
		<script src="node_modules/angular-ui-sortable/src/sortable.js"></script>
		<script type="text/javascript">

			var myApp = angular.module("myApp", ["ui.sortable"])

			myApp.controller("testController", function($scope, $interval){
				console.log("Controller exists")

				$scope.tiles = "TUXBASSWORLDSHADOW".split("").sort()
				$scope.words = {
					3: $scope.tiles.slice(0,3),
					4: $scope.tiles.slice(3,7),
					5: $scope.tiles.slice(7,12),
					6: $scope.tiles.slice(12,18),
				}
				
				function checkWords(){
					var word = {}
					for(var i=3; i < 7; i++){
						word[i] = $scope.words[i].join("")
					}
					console.log(word)
					if(word[3]=="WORLD" && word[4]=="SHADOW"){
						alert("That's right!")
					}
				}

				game_length = 601
				$scope.timer = game_length

				$scope.interval = $interval(countdown, 100)
				$scope.d = "M100 100"

				function update_clock(){
					// Code to generate an SVG with a slice of a circle from StackOverflow user Holger Will
					// http://stackoverflow.com/a/32754195/5749040
					var svgElem = document.getElementById("clock_svg")
					var path = document.getElementById("clock_svg_path")

					var cx=100
					var cy=100
					var rx=50
					var ry=50

					var p = svgElem.createSVGPoint()
					p.x = 0
					p.y = 1

					var m = svgElem.createSVGMatrix()

					var angle = 180 * ($scope.timer/game_length)

					var p2 = p.matrixTransform(m.rotate(angle))
					p2.x = cx + p2.x*rx
					p2.y = cy + p2.y*ry

					// var path = document.createElementNS("http://www.w3.org/2000/svg", "path")
					// svgElem.appendChild(path)

					$scope.d = "M" + cx + " " + (cy+ry) + "A" + rx + " " + ry + " 0 0 1" + p2.x + " " + p2.y + "L" + cx + " "+cy+"z"
					path.setAttribute("d", $scope.d)
				}

				function countdown(){
					$scope.timer--
					
					$scope.time_remaining = {
						minutes: Math.floor($scope.timer/600),
						seconds: ("0"+Math.floor(($scope.timer % 600)/10)).slice(-2),
						tenths: $scope.timer % 10
					}

					update_clock()

					if($scope.timer<=0){
						$scope.message = "Time's up!"
						stopInterval()
					}
				}

				function stopInterval(){
					if(angular.isDefined($scope.interval)){
						$interval.cancel($scope.interval)
						$scope.interval = undefined
					}
					
					// Make all of the lists non-sortable
					$scope.sortableOptions.disabled = true
					
					$("#answer").show("slow")
				}

				// Per angular documentation, $intervals need to be explicitly cancelled
				$scope.$on("$destroy", function(){
					stopInterval()
				})

				$scope.sortableOptions = {
					placeholder: "placeholder",
					"ui-floating": true,
					connectWith: ".target",
					receive: function(e, ui){
						if($scope.words[e.target.id].length > 6){
							ui.item.sortable.cancel()
						}
					},
					update: function(e, ui){
						setTimeout(function(){
							checkWords()
						}, 100)
					}
				}

			})
		</script>
	</head>
	<body ng-app="myApp" ng-controller="testController">
		<div ui-sortable="sortableOptions" ng-repeat="(index, word) in words" ng-model="word" class="target" id="{{index}}">
			x{{index}}
			<div ng-repeat="letter in word track by $index" class="tile">{{letter}}</div>
		</div>
		<p>{{d}}</p>
		<p>{{timer}}</p>
		<svg id="clock_svg" width=200 height=200 style="border: 1px dotted red">
			<path id="clock_svg_path" d="M100 150"></path>
		</svg>
		<p>{{words}}</p>
	</body>
</html>