body{
	background-color: #F4D6AE;
}

.tile{
	border: 2px solid black;
	text-align: center;
	vertical-align: middle;
	padding: 10px 5px;
	margin: 10px;
	display: inline-block;
	height: 35px;
	width: 45px;
	float: left;
	background-color: chocolate;
	font-weight: bold;
	font-size: 1.5em;
}

.placeholder{
	background-color: gray;
	padding: 10px 5px;
	margin: 10px;
	display: inline-block;
	height: 35px;
	width: 45px;
	border: 1px dotted blue;
	float: left;
}

.target{
	margin: 10px;
	width: 635px;
	height: 75px;
	background-color: #B0926A;
}

.red{
	border: 5px solid red;
}

.green{
	border: 5px solid green;
}

.score{
	text-align: center;
	width: 75px;
	font-size: 2em;
	font-weight: bold;
}

.value{
	font-size: 0.5em;
}

.clock{
	font-size: 2em;
	font-family: "Lucida Console", "Courier New", "Courier", "monospace";
	display: inline-block;
}

.message{
	display: inline-block;
	vertical-align: top;
	margin-top: 65px;
}
